<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Business_Form</servlet-name>
        <servlet-class>Business_Form</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sign_up</servlet-name>
        <servlet-class>sign_up</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sign_in</servlet-name>
        <servlet-class>sign_in</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signin</servlet-name>
        <servlet-class>signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>plantservlet</servlet-name>
        <servlet-class>plantservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demobus</servlet-name>
        <servlet-class>demobus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCookie</servlet-name>
        <servlet-class>AddCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItemServlet</servlet-name>
        <servlet-class>DeleteItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToPortServlet</servlet-name>
        <servlet-class>AddToPortServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSoilToCartServlet</servlet-name>
        <servlet-class>AddSoilToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEquipmentToCartServlet</servlet-name>
        <servlet-class>AddEquipmentToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateItemServlet</servlet-name>
        <servlet-class>UpdateItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFavItemServlet</servlet-name>
        <servlet-class>DeleteFavItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToFavServlet</servlet-name>
        <servlet-class>AddToFavServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToFavSoilServlet</servlet-name>
        <servlet-class>AddToFavSoilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToFavEquipmentServlet</servlet-name>
        <servlet-class>AddToFavEquipmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToFavPotServlet</servlet-name>
        <servlet-class>AddToFavPotServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Business_Form</servlet-name>
        <url-pattern>/Business_Form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sign_up</servlet-name>
        <url-pattern>/sign_up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sign_in</servlet-name>
        <url-pattern>/sign_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>plantservlet</servlet-name>
        <url-pattern>/plantservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadImageServlet</servlet-name>
        <servlet-class>UploadImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadImageServlet</servlet-name>
        <url-pattern>/UploadImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demobus</servlet-name>
        <url-pattern>/demobus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCookie</servlet-name>
        <url-pattern>/AddCookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItemServlet</servlet-name>
        <url-pattern>/DeleteItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToPortServlet</servlet-name>
        <url-pattern>/AddToPortServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSoilToCartServlet</servlet-name>
        <url-pattern>/AddSoilToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEquipmentToCartServlet</servlet-name>
        <url-pattern>/AddEquipmentToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateItemServlet</servlet-name>
        <url-pattern>/UpdateItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFavItemServlet</servlet-name>
        <url-pattern>/DeleteFavItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToFavServlet</servlet-name>
        <url-pattern>/AddToFavServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToFavSoilServlet</servlet-name>
        <url-pattern>/AddToFavSoilServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToFavEquipmentServlet</servlet-name>
        <url-pattern>/AddToFavEquipmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToFavPotServlet</servlet-name>
        <url-pattern>/AddToFavPotServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
        <!-- Timeout in minutes -->
    </session-config>
</web-app>
